/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1;
  font-family: "Segoe UI", Roboto, Ubuntu, Cantarell, "Noto Sans", sans-serif; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

header .headerPage {
  background-image: url(../../images/layout.png);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-attachment: fixed; }
  header .headerPage .content_headerPage {
    text-align: center; }
    header .headerPage .content_headerPage .logo_headerPage {
      margin-bottom: 30px; }
      header .headerPage .content_headerPage .logo_headerPage img {
        object-fit: cover; }
    header .headerPage .content_headerPage .text_headerPage {
      margin-bottom: 30px; }
      header .headerPage .content_headerPage .text_headerPage h1 {
        color: #000000;
        font-size: 60px;
        font-weight: 600;
        margin-bottom: 30px; }
      header .headerPage .content_headerPage .text_headerPage p {
        color: #666666;
        font-size: 25px; }
    header .headerPage .content_headerPage .button_headerPage button {
      border-radius: 30px;
      font-size: 14px;
      text-transform: uppercase;
      color: #ffffff;
      font-weight: 500;
      border: none;
      padding: 15px 25px;
      background-color: #4acdd5;
      transition: all 0.5s; }
      header .headerPage .content_headerPage .button_headerPage button:hover {
        background-color: #FF6799; }

.exclusivePreviews {
  padding: 4rem 0px; }
  .exclusivePreviews .text_exclusivePreviews {
    text-align: center;
    margin-bottom: 2rem; }
    .exclusivePreviews .text_exclusivePreviews h1 {
      font-size: 40px;
      font-weight: 600;
      margin-bottom: 20px; }
    .exclusivePreviews .text_exclusivePreviews p {
      width: 40%;
      margin: auto;
      line-height: 1.5em;
      font-size: 17.5px;
      color: #777777;
      font-weight: 400; }
  .exclusivePreviews .product_exclusivePreviews .homePage_exclusivePreviews, .exclusivePreviews .product_exclusivePreviews .blogPage_exclusivePreviews, .exclusivePreviews .product_exclusivePreviews .productPage_exclusivePreviews, .exclusivePreviews .product_exclusivePreviews .contactPage_exclusivePreviews, .exclusivePreviews .product_exclusivePreviews .collectionPage_exclusivePreviews, .exclusivePreviews .product_exclusivePreviews .aboutPage_exclusivePreviews {
    margin-bottom: 25px; }
    .exclusivePreviews .product_exclusivePreviews .homePage_exclusivePreviews img, .exclusivePreviews .product_exclusivePreviews .blogPage_exclusivePreviews img, .exclusivePreviews .product_exclusivePreviews .productPage_exclusivePreviews img, .exclusivePreviews .product_exclusivePreviews .contactPage_exclusivePreviews img, .exclusivePreviews .product_exclusivePreviews .collectionPage_exclusivePreviews img, .exclusivePreviews .product_exclusivePreviews .aboutPage_exclusivePreviews img {
      width: 100%; }
    .exclusivePreviews .product_exclusivePreviews .homePage_exclusivePreviews:hover .layout i, .exclusivePreviews .product_exclusivePreviews .blogPage_exclusivePreviews:hover .layout i, .exclusivePreviews .product_exclusivePreviews .productPage_exclusivePreviews:hover .layout i, .exclusivePreviews .product_exclusivePreviews .contactPage_exclusivePreviews:hover .layout i, .exclusivePreviews .product_exclusivePreviews .collectionPage_exclusivePreviews:hover .layout i, .exclusivePreviews .product_exclusivePreviews .aboutPage_exclusivePreviews:hover .layout i {
      color: #337ab7; }
    .exclusivePreviews .product_exclusivePreviews .homePage_exclusivePreviews .demo, .exclusivePreviews .product_exclusivePreviews .blogPage_exclusivePreviews .demo, .exclusivePreviews .product_exclusivePreviews .productPage_exclusivePreviews .demo, .exclusivePreviews .product_exclusivePreviews .contactPage_exclusivePreviews .demo, .exclusivePreviews .product_exclusivePreviews .collectionPage_exclusivePreviews .demo, .exclusivePreviews .product_exclusivePreviews .aboutPage_exclusivePreviews .demo {
      height: 500px;
      overflow: hidden;
      box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1), 0 2px 24px rgba(0, 0, 0, 0.2);
      border: 0;
      border-radius: 10px; }
      .exclusivePreviews .product_exclusivePreviews .homePage_exclusivePreviews .demo a, .exclusivePreviews .product_exclusivePreviews .blogPage_exclusivePreviews .demo a, .exclusivePreviews .product_exclusivePreviews .productPage_exclusivePreviews .demo a, .exclusivePreviews .product_exclusivePreviews .contactPage_exclusivePreviews .demo a, .exclusivePreviews .product_exclusivePreviews .collectionPage_exclusivePreviews .demo a, .exclusivePreviews .product_exclusivePreviews .aboutPage_exclusivePreviews .demo a {
        display: flex; }
    .exclusivePreviews .product_exclusivePreviews .homePage_exclusivePreviews .layout a, .exclusivePreviews .product_exclusivePreviews .blogPage_exclusivePreviews .layout a, .exclusivePreviews .product_exclusivePreviews .productPage_exclusivePreviews .layout a, .exclusivePreviews .product_exclusivePreviews .contactPage_exclusivePreviews .layout a, .exclusivePreviews .product_exclusivePreviews .collectionPage_exclusivePreviews .layout a, .exclusivePreviews .product_exclusivePreviews .aboutPage_exclusivePreviews .layout a {
      outline: none;
      color: #000000;
      text-decoration: none;
      display: block;
      font-size: 20px;
      padding: 20px 0px; }
      .exclusivePreviews .product_exclusivePreviews .homePage_exclusivePreviews .layout a .text, .exclusivePreviews .product_exclusivePreviews .blogPage_exclusivePreviews .layout a .text, .exclusivePreviews .product_exclusivePreviews .productPage_exclusivePreviews .layout a .text, .exclusivePreviews .product_exclusivePreviews .contactPage_exclusivePreviews .layout a .text, .exclusivePreviews .product_exclusivePreviews .collectionPage_exclusivePreviews .layout a .text, .exclusivePreviews .product_exclusivePreviews .aboutPage_exclusivePreviews .layout a .text {
        display: flex;
        align-items: center; }
        .exclusivePreviews .product_exclusivePreviews .homePage_exclusivePreviews .layout a .text p, .exclusivePreviews .product_exclusivePreviews .blogPage_exclusivePreviews .layout a .text p, .exclusivePreviews .product_exclusivePreviews .productPage_exclusivePreviews .layout a .text p, .exclusivePreviews .product_exclusivePreviews .contactPage_exclusivePreviews .layout a .text p, .exclusivePreviews .product_exclusivePreviews .collectionPage_exclusivePreviews .layout a .text p, .exclusivePreviews .product_exclusivePreviews .aboutPage_exclusivePreviews .layout a .text p {
          flex: 1; }
        .exclusivePreviews .product_exclusivePreviews .homePage_exclusivePreviews .layout a .text i, .exclusivePreviews .product_exclusivePreviews .blogPage_exclusivePreviews .layout a .text i, .exclusivePreviews .product_exclusivePreviews .productPage_exclusivePreviews .layout a .text i, .exclusivePreviews .product_exclusivePreviews .contactPage_exclusivePreviews .layout a .text i, .exclusivePreviews .product_exclusivePreviews .collectionPage_exclusivePreviews .layout a .text i, .exclusivePreviews .product_exclusivePreviews .aboutPage_exclusivePreviews .layout a .text i {
          transition: all 0.5s;
          font-weight: 700;
          font-size: 18px !important; }
  .exclusivePreviews .product_exclusivePreviews .homePage_exclusivePreviews .demo {
    height: 500px;
    overflow: hidden;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1), 0 2px 24px rgba(0, 0, 0, 0.2);
    border: 0;
    border-radius: 10px; }
    .exclusivePreviews .product_exclusivePreviews .homePage_exclusivePreviews .demo img {
      transition: all ease-in-out 3s; }
    .exclusivePreviews .product_exclusivePreviews .homePage_exclusivePreviews .demo:hover img {
      margin-top: 500px;
      transform: translateY(-100%); }
  .exclusivePreviews .product_exclusivePreviews .blogPage_exclusivePreviews, .exclusivePreviews .product_exclusivePreviews .contactPage_exclusivePreviews, .exclusivePreviews .product_exclusivePreviews .aboutPage_exclusivePreviews {
    margin-bottom: 0px !important; }

.onlineStore {
  padding: 4rem 0px;
  background-color: #F9FAFB; }
  .onlineStore .row {
    align-items: center; }
  .onlineStore .imageOnline {
    position: relative;
    text-align: center; }
    .onlineStore .imageOnline img {
      width: 100%; }
    .onlineStore .imageOnline .storeOnline {
      width: 90px;
      height: 90px;
      background: #4acdd5;
      border-radius: 50%;
      text-align: center;
      padding: 10px;
      position: absolute;
      top: 100px;
      left: 5%; }
      .onlineStore .imageOnline .storeOnline svg {
        width: 70px;
        height: 40px;
        fill: #fff; }
      .onlineStore .imageOnline .storeOnline span {
        font-size: 16px;
        color: #ffffff; }
  .onlineStore .contentOnline .contentTop .contentTopOnline {
    background-color: #4acdd5;
    display: inline-block;
    border-radius: 20px;
    padding: 3px; }
    .onlineStore .contentOnline .contentTop .contentTopOnline .contentImageSVG {
      display: inline-block;
      background: #fff;
      width: 35px;
      height: 35px;
      border-radius: 50%;
      padding: 4px 5px; }
      .onlineStore .contentOnline .contentTop .contentTopOnline .contentImageSVG svg {
        width: 25px;
        height: 26px;
        fill: #323232; }
    .onlineStore .contentOnline .contentTop .contentTopOnline p {
      display: inline-block;
      font-size: 13px;
      padding: 0px 15px 0px 5px;
      text-align: left;
      color: #ffffff;
      font-weight: 500; }
  .onlineStore .contentOnline .contentTop h2 {
    color: #787878;
    font-weight: 400;
    display: inline-block;
    font-size: 20px; }
  .onlineStore .contentOnline .contentBody {
    margin-top: 20px;
    margin-bottom: 20px; }
    .onlineStore .contentOnline .contentBody h2 {
      font-size: 35px;
      font-weight: 300;
      line-height: 1.2em;
      margin-bottom: 5px; }
    .onlineStore .contentOnline .contentBody h1 {
      font-size: 40px;
      font-weight: 700;
      line-height: 1.2em;
      margin-bottom: 20px; }
    .onlineStore .contentOnline .contentBody p {
      text-align: left;
      padding-right: 50px;
      line-height: 1.2em;
      color: #787878; }
  .onlineStore .contentOnline .contentFooter button {
    text-transform: uppercase;
    padding: 15px 25px;
    border: none;
    border-radius: 30px;
    background-color: #FF6799;
    color: #ffffff;
    font-size: 15px;
    font-weight: 500;
    transition: background-color ease-in-out 0.2s; }
    .onlineStore .contentOnline .contentFooter button:hover {
      background-color: #4acdd5; }

.shopifyVisual {
  padding: 4rem 0px; }
  .shopifyVisual .textShopify {
    text-align: center;
    margin-bottom: 2rem; }
    .shopifyVisual .textShopify h1 {
      font-size: 40px;
      font-weight: 600;
      margin-bottom: 20px; }
    .shopifyVisual .textShopify p {
      width: 45%;
      margin: auto;
      line-height: 1.5em;
      font-size: 17.5px;
      color: #777777;
      font-weight: 400; }
  .shopifyVisual .imageShopify img {
    width: 100%; }

.responsiveDevices {
  padding: 4rem 0px;
  background-color: #F9FAFB; }
  .responsiveDevices .row {
    align-items: center; }
    .responsiveDevices .row .imageDevices img {
      width: 100%; }
    .responsiveDevices .row .textDevices {
      margin-bottom: 25px; }
      .responsiveDevices .row .textDevices h1 {
        font-size: 60px;
        font-weight: 700;
        margin-bottom: 25px; }
      .responsiveDevices .row .textDevices p {
        text-align: left;
        font-size: 20px;
        color: #787878; }
    .responsiveDevices .row .buttonDevices button {
      text-transform: uppercase;
      padding: 15px 25px;
      border: none;
      border-radius: 30px;
      background-color: #FF6799;
      color: #ffffff;
      font-size: 15px;
      font-weight: 500;
      transition: background-color ease-in-out 0.2s; }
      .responsiveDevices .row .buttonDevices button:hover {
        background-color: #4acdd5; }

.includesColor {
  padding: 4rem 0px; }
  .includesColor .textColor {
    text-align: center;
    margin-bottom: 2rem; }
    .includesColor .textColor h1 {
      font-size: 40px;
      font-weight: 600;
      margin-bottom: 20px; }
    .includesColor .textColor p {
      width: 45%;
      margin: auto;
      line-height: 1.5em;
      font-size: 17.5px;
      color: #777777;
      font-weight: 400; }
  .includesColor .imageColor img {
    width: 100%; }

.coreFeatures {
  padding: 4rem 0px;
  background-color: #F9FAFB; }
  .coreFeatures .textFeatures {
    text-align: center;
    margin-bottom: 4rem; }
    .coreFeatures .textFeatures h1 {
      font-size: 40px;
      font-weight: 600;
      margin-bottom: 20px; }
    .coreFeatures .textFeatures p {
      width: 40%;
      margin: auto;
      line-height: 1.5em;
      font-size: 17.5px;
      color: #777777;
      font-weight: 400; }
  .coreFeatures .productFeatures .row {
    align-items: center; }
  .coreFeatures .productFeatures .easyInstalltion, .coreFeatures .productFeatures .multipeLayout, .coreFeatures .productFeatures .easyConfiguration, .coreFeatures .productFeatures .stickyMenu, .coreFeatures .productFeatures .fullyResponsive, .coreFeatures .productFeatures .moduleConfiguration, .coreFeatures .productFeatures .wishList, .coreFeatures .productFeatures .codeValidated {
    display: flex;
    align-items: center; }
    .coreFeatures .productFeatures .easyInstalltion .icon i, .coreFeatures .productFeatures .multipeLayout .icon i, .coreFeatures .productFeatures .easyConfiguration .icon i, .coreFeatures .productFeatures .stickyMenu .icon i, .coreFeatures .productFeatures .fullyResponsive .icon i, .coreFeatures .productFeatures .moduleConfiguration .icon i, .coreFeatures .productFeatures .wishList .icon i, .coreFeatures .productFeatures .codeValidated .icon i {
      font-size: 35px; }
    .coreFeatures .productFeatures .easyInstalltion .text, .coreFeatures .productFeatures .multipeLayout .text, .coreFeatures .productFeatures .easyConfiguration .text, .coreFeatures .productFeatures .stickyMenu .text, .coreFeatures .productFeatures .fullyResponsive .text, .coreFeatures .productFeatures .moduleConfiguration .text, .coreFeatures .productFeatures .wishList .text, .coreFeatures .productFeatures .codeValidated .text {
      padding: 0 15px;
      width: 85%; }
      .coreFeatures .productFeatures .easyInstalltion .text h5, .coreFeatures .productFeatures .multipeLayout .text h5, .coreFeatures .productFeatures .easyConfiguration .text h5, .coreFeatures .productFeatures .stickyMenu .text h5, .coreFeatures .productFeatures .fullyResponsive .text h5, .coreFeatures .productFeatures .moduleConfiguration .text h5, .coreFeatures .productFeatures .wishList .text h5, .coreFeatures .productFeatures .codeValidated .text h5 {
        font-size: 18px;
        margin-bottom: 5px;
        font-weight: 500; }
      .coreFeatures .productFeatures .easyInstalltion .text p, .coreFeatures .productFeatures .multipeLayout .text p, .coreFeatures .productFeatures .easyConfiguration .text p, .coreFeatures .productFeatures .stickyMenu .text p, .coreFeatures .productFeatures .fullyResponsive .text p, .coreFeatures .productFeatures .moduleConfiguration .text p, .coreFeatures .productFeatures .wishList .text p, .coreFeatures .productFeatures .codeValidated .text p {
        color: #666;
        line-height: 1.3em; }
  .coreFeatures .productFeatures .easyInstalltion, .coreFeatures .productFeatures .easyConfiguration, .coreFeatures .productFeatures .fullyResponsive, .coreFeatures .productFeatures .wishList {
    margin-bottom: 45px; }

.themeSections {
  padding: 4rem 0px; }
  .themeSections .textSections {
    text-align: center;
    margin-bottom: 4rem; }
    .themeSections .textSections h1 {
      font-size: 40px;
      font-weight: 600;
      margin-bottom: 20px; }
    .themeSections .textSections p {
      width: 40%;
      margin: auto;
      line-height: 1.5em;
      font-size: 17.5px;
      color: #777777;
      font-weight: 400; }
  .themeSections .productSections .row {
    align-items: center; }
  .themeSections .productSections .quickView, .themeSections .productSections .productReviews, .themeSections .productSections .addCart, .themeSections .productSections .SearchAuto, .themeSections .productSections .Instafeed, .themeSections .productSections .ParallaxImg, .themeSections .productSections .LatestBlogs, .themeSections .productSections .ResponsiveBanners {
    display: flex;
    align-items: center; }
    .themeSections .productSections .quickView .icon i, .themeSections .productSections .productReviews .icon i, .themeSections .productSections .addCart .icon i, .themeSections .productSections .SearchAuto .icon i, .themeSections .productSections .Instafeed .icon i, .themeSections .productSections .ParallaxImg .icon i, .themeSections .productSections .LatestBlogs .icon i, .themeSections .productSections .ResponsiveBanners .icon i {
      font-size: 35px; }
    .themeSections .productSections .quickView .text, .themeSections .productSections .productReviews .text, .themeSections .productSections .addCart .text, .themeSections .productSections .SearchAuto .text, .themeSections .productSections .Instafeed .text, .themeSections .productSections .ParallaxImg .text, .themeSections .productSections .LatestBlogs .text, .themeSections .productSections .ResponsiveBanners .text {
      width: 85%;
      padding: 0 15px; }
      .themeSections .productSections .quickView .text h5, .themeSections .productSections .productReviews .text h5, .themeSections .productSections .addCart .text h5, .themeSections .productSections .SearchAuto .text h5, .themeSections .productSections .Instafeed .text h5, .themeSections .productSections .ParallaxImg .text h5, .themeSections .productSections .LatestBlogs .text h5, .themeSections .productSections .ResponsiveBanners .text h5 {
        font-size: 18px;
        margin-bottom: 5px;
        font-weight: 500; }
      .themeSections .productSections .quickView .text p, .themeSections .productSections .productReviews .text p, .themeSections .productSections .addCart .text p, .themeSections .productSections .SearchAuto .text p, .themeSections .productSections .Instafeed .text p, .themeSections .productSections .ParallaxImg .text p, .themeSections .productSections .LatestBlogs .text p, .themeSections .productSections .ResponsiveBanners .text p {
        color: #666;
        line-height: 1.3em; }
  .themeSections .productSections .quickView, .themeSections .productSections .addCart, .themeSections .productSections .Instafeed, .themeSections .productSections .LatestBlogs {
    margin-bottom: 45px; }

footer .footer {
  background-color: #F9FAFB;
  padding: 6rem 0px;
  text-align: center; }
  footer .footer .logoFooter {
    margin-bottom: 40px; }
  footer .footer .contentFooter {
    font-size: 30px;
    color: #666666;
    letter-spacing: 2px;
    margin-bottom: 40px; }
  footer .footer .buttonFooter button {
    text-transform: uppercase;
    padding: 15px 40px;
    border: none;
    border-radius: 30px;
    background-color: #FF6799;
    color: #ffffff;
    font-size: 15px;
    font-weight: 500;
    transition: background-color ease-in-out 0.2s; }
    footer .footer .buttonFooter button:hover {
      background-color: #4acdd5; }

@media screen and (max-width: 480px) {
  header .headerPage {
    background-position: center; }
    header .headerPage .content_headerPage .text_headerPage h1 {
      font-size: 30px !important; }
    header .headerPage .content_headerPage .text_headerPage p {
      font-size: 20px; }

  section .exclusivePreviews .text_exclusivePreviews h1 {
    font-size: 30px; }
  section .exclusivePreviews .text_exclusivePreviews p {
    width: 100%; }
  section .exclusivePreviews .product_exclusivePreviews .blogPage_exclusivePreviews, section .exclusivePreviews .product_exclusivePreviews .contactPage_exclusivePreviews, section .exclusivePreviews .product_exclusivePreviews .aboutPage_exclusivePreviews {
    margin-bottom: 25px !important; }
  section .exclusivePreviews .product_exclusivePreviews .aboutPage_exclusivePreviews {
    margin-bottom: 0px !important; }
  section .onlineStore .imageOnline .storeOnline {
    top: 45px;
    left: 0px; }
  section .onlineStore .contentOnline {
    margin-top: 25px; }
    section .onlineStore .contentOnline .contentTop {
      text-align: center; }
      section .onlineStore .contentOnline .contentTop h2 {
        margin-top: 10px;
        display: block; }
    section .onlineStore .contentOnline .contentBody {
      text-align: center; }
      section .onlineStore .contentOnline .contentBody h2 {
        font-size: 25px; }
      section .onlineStore .contentOnline .contentBody h1 {
        font-size: 25px; }
      section .onlineStore .contentOnline .contentBody p {
        padding-right: 0px;
        text-align: center; }
    section .onlineStore .contentOnline .contentFooter {
      text-align: center; }
  section .shopifyVisual .textShopify h1 {
    font-size: 30px; }
  section .shopifyVisual .textShopify p {
    width: 100%; }
  section .responsiveDevices .textDevices {
    margin-top: 25px;
    text-align: center; }
    section .responsiveDevices .textDevices h1 {
      font-size: 30px !important; }
    section .responsiveDevices .textDevices p {
      padding-right: 0px;
      width: 80%;
      margin: auto;
      text-align: center !important; }
  section .responsiveDevices .buttonDevices {
    text-align: center; }
  section .includesColor .textColor h1 {
    font-size: 30px; }
  section .includesColor .textColor p {
    width: 100%; }
  section .coreFeatures .textFeatures h1 {
    font-size: 30px; }
  section .coreFeatures .textFeatures p {
    width: 100%; }
  section .coreFeatures .productFeatures .easyInstalltion, section .coreFeatures .productFeatures .multipeLayout, section .coreFeatures .productFeatures .easyConfiguration, section .coreFeatures .productFeatures .stickyMenu, section .coreFeatures .productFeatures .fullyResponsive, section .coreFeatures .productFeatures .moduleConfiguration, section .coreFeatures .productFeatures .wishList, section .coreFeatures .productFeatures .codeValidated {
    flex-wrap: wrap !important;
    text-align: center !important; }
    section .coreFeatures .productFeatures .easyInstalltion .icon, section .coreFeatures .productFeatures .multipeLayout .icon, section .coreFeatures .productFeatures .easyConfiguration .icon, section .coreFeatures .productFeatures .stickyMenu .icon, section .coreFeatures .productFeatures .fullyResponsive .icon, section .coreFeatures .productFeatures .moduleConfiguration .icon, section .coreFeatures .productFeatures .wishList .icon, section .coreFeatures .productFeatures .codeValidated .icon {
      width: 100% !important;
      margin-bottom: 10px !important; }
    section .coreFeatures .productFeatures .easyInstalltion .text, section .coreFeatures .productFeatures .multipeLayout .text, section .coreFeatures .productFeatures .easyConfiguration .text, section .coreFeatures .productFeatures .stickyMenu .text, section .coreFeatures .productFeatures .fullyResponsive .text, section .coreFeatures .productFeatures .moduleConfiguration .text, section .coreFeatures .productFeatures .wishList .text, section .coreFeatures .productFeatures .codeValidated .text {
      width: 100% !important; }
  section .coreFeatures .productFeatures .multipeLayout, section .coreFeatures .productFeatures .stickyMenu, section .coreFeatures .productFeatures .moduleConfiguration, section .coreFeatures .productFeatures .codeValidated {
    margin-bottom: 45px; }
  section .coreFeatures .productFeatures .codeValidated {
    margin-bottom: 0px !important; }
  section .themeSections .textSections h1 {
    font-size: 30px; }
  section .themeSections .textSections p {
    width: 100%; }
  section .themeSections .productSections .quickView, section .themeSections .productSections .productReviews, section .themeSections .productSections .addCart, section .themeSections .productSections .SearchAuto, section .themeSections .productSections .Instafeed, section .themeSections .productSections .ParallaxImg, section .themeSections .productSections .LatestBlogs, section .themeSections .productSections .ResponsiveBanners {
    flex-wrap: wrap !important;
    text-align: center !important; }
    section .themeSections .productSections .quickView .icon, section .themeSections .productSections .productReviews .icon, section .themeSections .productSections .addCart .icon, section .themeSections .productSections .SearchAuto .icon, section .themeSections .productSections .Instafeed .icon, section .themeSections .productSections .ParallaxImg .icon, section .themeSections .productSections .LatestBlogs .icon, section .themeSections .productSections .ResponsiveBanners .icon {
      width: 100% !important;
      margin-bottom: 10px !important; }
    section .themeSections .productSections .quickView .text, section .themeSections .productSections .productReviews .text, section .themeSections .productSections .addCart .text, section .themeSections .productSections .SearchAuto .text, section .themeSections .productSections .Instafeed .text, section .themeSections .productSections .ParallaxImg .text, section .themeSections .productSections .LatestBlogs .text, section .themeSections .productSections .ResponsiveBanners .text {
      width: 100% !important; }
  section .themeSections .productSections .productReviews, section .themeSections .productSections .SearchAuto, section .themeSections .productSections .ParallaxImg, section .themeSections .productSections .ResponsiveBanners {
    margin-bottom: 45px !important; }
  section .themeSections .productSections .ResponsiveBanners {
    margin-bottom: 0px !important; }

  footer .footer .contentFooter {
    font-size: 25px; } }
@media (min-width: 481px) and (max-width: 767px) {
  header .headerPage {
    background-position: center; }
    header .headerPage .content_headerPage .text_headerPage h1 {
      font-size: 40px !important; }
    header .headerPage .content_headerPage .text_headerPage p {
      font-size: 25px; }

  section .exclusivePreviews .text_exclusivePreviews h1 {
    font-size: 35px; }
  section .exclusivePreviews .text_exclusivePreviews p {
    width: 80%; }
  section .exclusivePreviews .product_exclusivePreviews .col-md-4 {
    display: flex;
    margin-bottom: 25px; }
    section .exclusivePreviews .product_exclusivePreviews .col-md-4 .homePage_exclusivePreviews, section .exclusivePreviews .product_exclusivePreviews .col-md-4 .blogPage_exclusivePreviews, section .exclusivePreviews .product_exclusivePreviews .col-md-4 .productPage_exclusivePreviews, section .exclusivePreviews .product_exclusivePreviews .col-md-4 .contactPage_exclusivePreviews, section .exclusivePreviews .product_exclusivePreviews .col-md-4 .collectionPage_exclusivePreviews, section .exclusivePreviews .product_exclusivePreviews .col-md-4 .aboutPage_exclusivePreviews {
      padding: 0px 15px;
      margin-bottom: 0px !important; }
      section .exclusivePreviews .product_exclusivePreviews .col-md-4 .homePage_exclusivePreviews .demo, section .exclusivePreviews .product_exclusivePreviews .col-md-4 .blogPage_exclusivePreviews .demo, section .exclusivePreviews .product_exclusivePreviews .col-md-4 .productPage_exclusivePreviews .demo, section .exclusivePreviews .product_exclusivePreviews .col-md-4 .contactPage_exclusivePreviews .demo, section .exclusivePreviews .product_exclusivePreviews .col-md-4 .collectionPage_exclusivePreviews .demo, section .exclusivePreviews .product_exclusivePreviews .col-md-4 .aboutPage_exclusivePreviews .demo {
        height: 300px !important; }
    section .exclusivePreviews .product_exclusivePreviews .col-md-4 .homePage_exclusivePreviews .demo:hover img {
      margin-top: 300px; }
    section .exclusivePreviews .product_exclusivePreviews .col-md-4:last-child {
      margin-bottom: 0px !important; }
  section .onlineStore .imageOnline .storeOnline {
    top: 75px;
    left: 15px; }
  section .onlineStore .contentOnline {
    margin-top: 25px; }
    section .onlineStore .contentOnline .contentTop {
      text-align: center; }
    section .onlineStore .contentOnline .contentBody {
      text-align: center; }
      section .onlineStore .contentOnline .contentBody h2 {
        font-size: 30px; }
      section .onlineStore .contentOnline .contentBody h1 {
        font-size: 30px; }
      section .onlineStore .contentOnline .contentBody p {
        padding-right: 0px;
        text-align: center; }
    section .onlineStore .contentOnline .contentFooter {
      text-align: center; }
  section .shopifyVisual .textShopify h1 {
    font-size: 35px; }
  section .shopifyVisual .textShopify p {
    width: 100%; }
  section .responsiveDevices .textDevices {
    margin-top: 25px;
    text-align: center; }
    section .responsiveDevices .textDevices h1 {
      font-size: 35px !important; }
    section .responsiveDevices .textDevices p {
      padding-right: 0px;
      width: 80%;
      margin: auto;
      text-align: center !important; }
  section .responsiveDevices .buttonDevices {
    text-align: center; }
  section .includesColor .textColor h1 {
    font-size: 35px; }
  section .includesColor .textColor p {
    width: 100%; }
  section .coreFeatures .textFeatures h1 {
    font-size: 30px; }
  section .coreFeatures .textFeatures p {
    width: 100%; }
  section .coreFeatures .productFeatures .col-md-3 {
    display: flex;
    margin-bottom: 30px; }
  section .coreFeatures .productFeatures .easyInstalltion, section .coreFeatures .productFeatures .multipeLayout, section .coreFeatures .productFeatures .easyConfiguration, section .coreFeatures .productFeatures .stickyMenu, section .coreFeatures .productFeatures .fullyResponsive, section .coreFeatures .productFeatures .moduleConfiguration, section .coreFeatures .productFeatures .wishList, section .coreFeatures .productFeatures .codeValidated {
    flex-wrap: wrap !important;
    text-align: center !important;
    margin-bottom: 0px !important;
    width: 100%; }
    section .coreFeatures .productFeatures .easyInstalltion .icon, section .coreFeatures .productFeatures .multipeLayout .icon, section .coreFeatures .productFeatures .easyConfiguration .icon, section .coreFeatures .productFeatures .stickyMenu .icon, section .coreFeatures .productFeatures .fullyResponsive .icon, section .coreFeatures .productFeatures .moduleConfiguration .icon, section .coreFeatures .productFeatures .wishList .icon, section .coreFeatures .productFeatures .codeValidated .icon {
      width: 100% !important;
      margin-bottom: 10px !important; }
    section .coreFeatures .productFeatures .easyInstalltion .text, section .coreFeatures .productFeatures .multipeLayout .text, section .coreFeatures .productFeatures .easyConfiguration .text, section .coreFeatures .productFeatures .stickyMenu .text, section .coreFeatures .productFeatures .fullyResponsive .text, section .coreFeatures .productFeatures .moduleConfiguration .text, section .coreFeatures .productFeatures .wishList .text, section .coreFeatures .productFeatures .codeValidated .text {
      width: 100% !important; }
  section .themeSections .textSections h1 {
    font-size: 30px; }
  section .themeSections .textSections p {
    width: 100%; }
  section .themeSections .productSections .col-md-3 {
    display: flex;
    margin-bottom: 30px; }
  section .themeSections .productSections .quickView, section .themeSections .productSections .productReviews, section .themeSections .productSections .addCart, section .themeSections .productSections .SearchAuto, section .themeSections .productSections .Instafeed, section .themeSections .productSections .ParallaxImg, section .themeSections .productSections .LatestBlogs, section .themeSections .productSections .ResponsiveBanners {
    flex-wrap: wrap !important;
    text-align: center !important;
    margin-bottom: 0px !important;
    width: 100%; }
    section .themeSections .productSections .quickView .icon, section .themeSections .productSections .productReviews .icon, section .themeSections .productSections .addCart .icon, section .themeSections .productSections .SearchAuto .icon, section .themeSections .productSections .Instafeed .icon, section .themeSections .productSections .ParallaxImg .icon, section .themeSections .productSections .LatestBlogs .icon, section .themeSections .productSections .ResponsiveBanners .icon {
      width: 100% !important;
      margin-bottom: 10px !important; }
    section .themeSections .productSections .quickView .text, section .themeSections .productSections .productReviews .text, section .themeSections .productSections .addCart .text, section .themeSections .productSections .SearchAuto .text, section .themeSections .productSections .Instafeed .text, section .themeSections .productSections .ParallaxImg .text, section .themeSections .productSections .LatestBlogs .text, section .themeSections .productSections .ResponsiveBanners .text {
      width: 100% !important; } }
@media (min-width: 768px) and (max-width: 1024px) {
  header .headerPage {
    background-size: cover;
    background-position: 50%; }
    header .headerPage .content_headerPage .text_headerPage h1 {
      font-size: 50px !important; }
    header .headerPage .content_headerPage .text_headerPage p {
      font-size: 35px; }
    header .headerPage .content_headerPage .button_headerPage button {
      font-size: 20px;
      padding: 20px 30px; }

  section .exclusivePreviews .text_exclusivePreviews h1 {
    font-size: 35px; }
  section .exclusivePreviews .text_exclusivePreviews p {
    width: 80%; }
  section .exclusivePreviews .product_exclusivePreviews .col-md-4 {
    display: flex;
    margin-bottom: 25px;
    width: 100%; }
    section .exclusivePreviews .product_exclusivePreviews .col-md-4 .homePage_exclusivePreviews, section .exclusivePreviews .product_exclusivePreviews .col-md-4 .blogPage_exclusivePreviews, section .exclusivePreviews .product_exclusivePreviews .col-md-4 .productPage_exclusivePreviews, section .exclusivePreviews .product_exclusivePreviews .col-md-4 .contactPage_exclusivePreviews, section .exclusivePreviews .product_exclusivePreviews .col-md-4 .collectionPage_exclusivePreviews, section .exclusivePreviews .product_exclusivePreviews .col-md-4 .aboutPage_exclusivePreviews {
      padding: 0px 15px;
      margin-bottom: 0px !important; }
      section .exclusivePreviews .product_exclusivePreviews .col-md-4 .homePage_exclusivePreviews .demo, section .exclusivePreviews .product_exclusivePreviews .col-md-4 .blogPage_exclusivePreviews .demo, section .exclusivePreviews .product_exclusivePreviews .col-md-4 .productPage_exclusivePreviews .demo, section .exclusivePreviews .product_exclusivePreviews .col-md-4 .contactPage_exclusivePreviews .demo, section .exclusivePreviews .product_exclusivePreviews .col-md-4 .collectionPage_exclusivePreviews .demo, section .exclusivePreviews .product_exclusivePreviews .col-md-4 .aboutPage_exclusivePreviews .demo {
        height: 400px !important; }
    section .exclusivePreviews .product_exclusivePreviews .col-md-4 .homePage_exclusivePreviews .demo:hover img {
      margin-top: 400px; }
    section .exclusivePreviews .product_exclusivePreviews .col-md-4:last-child {
      margin-bottom: 0px !important; }
  section .onlineStore .col-md-6 {
    width: 100% !important; }
  section .onlineStore .imageOnline .storeOnline {
    top: 115px;
    left: 40px; }
  section .onlineStore .contentOnline {
    margin-top: 25px; }
    section .onlineStore .contentOnline .contentTop {
      text-align: center; }
    section .onlineStore .contentOnline .contentBody {
      text-align: center; }
      section .onlineStore .contentOnline .contentBody h2 {
        font-size: 30px; }
      section .onlineStore .contentOnline .contentBody h1 {
        font-size: 30px; }
      section .onlineStore .contentOnline .contentBody p {
        padding-right: 0px;
        text-align: center; }
    section .onlineStore .contentOnline .contentFooter {
      text-align: center; }
  section .shopifyVisual .textShopify h1 {
    font-size: 35px; }
  section .shopifyVisual .textShopify p {
    width: 100%; }
  section .responsiveDevices .textDevices {
    margin-top: 25px; }
    section .responsiveDevices .textDevices h1 {
      font-size: 35px !important; }
    section .responsiveDevices .textDevices p {
      padding-right: 0px;
      width: 100%;
      font-size: 22px !important; }
  section .includesColor .textColor h1 {
    font-size: 35px; }
  section .includesColor .textColor p {
    width: 100%; }
  section .coreFeatures .textFeatures h1 {
    font-size: 30px; }
  section .coreFeatures .textFeatures p {
    width: 100%; }
  section .coreFeatures .productFeatures .col-md-3 {
    display: flex;
    margin-bottom: 30px;
    width: 100%; }
  section .coreFeatures .productFeatures .easyInstalltion, section .coreFeatures .productFeatures .multipeLayout, section .coreFeatures .productFeatures .easyConfiguration, section .coreFeatures .productFeatures .stickyMenu, section .coreFeatures .productFeatures .fullyResponsive, section .coreFeatures .productFeatures .moduleConfiguration, section .coreFeatures .productFeatures .wishList, section .coreFeatures .productFeatures .codeValidated {
    width: 100%;
    justify-content: center;
    margin-bottom: 0px !important; }
    section .coreFeatures .productFeatures .easyInstalltion .text, section .coreFeatures .productFeatures .multipeLayout .text, section .coreFeatures .productFeatures .easyConfiguration .text, section .coreFeatures .productFeatures .stickyMenu .text, section .coreFeatures .productFeatures .fullyResponsive .text, section .coreFeatures .productFeatures .moduleConfiguration .text, section .coreFeatures .productFeatures .wishList .text, section .coreFeatures .productFeatures .codeValidated .text {
      width: 70% !important; }
  section .themeSections .textSections h1 {
    font-size: 30px; }
  section .themeSections .textSections p {
    width: 100%; }
  section .themeSections .productSections .col-md-3 {
    display: flex;
    width: 100%;
    margin-bottom: 30px; }
  section .themeSections .productSections .quickView, section .themeSections .productSections .productReviews, section .themeSections .productSections .addCart, section .themeSections .productSections .SearchAuto, section .themeSections .productSections .Instafeed, section .themeSections .productSections .ParallaxImg, section .themeSections .productSections .LatestBlogs, section .themeSections .productSections .ResponsiveBanners {
    margin-bottom: 0px !important;
    justify-content: center;
    width: 100%; }
    section .themeSections .productSections .quickView .text, section .themeSections .productSections .productReviews .text, section .themeSections .productSections .addCart .text, section .themeSections .productSections .SearchAuto .text, section .themeSections .productSections .Instafeed .text, section .themeSections .productSections .ParallaxImg .text, section .themeSections .productSections .LatestBlogs .text, section .themeSections .productSections .ResponsiveBanners .text {
      width: 70% !important; } }

/*# sourceMappingURL=style.css.map */
