/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1;
  font-family: 'Nunito', sans-serif; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

header .headerPage {
  padding: 2rem 0px; }
  header .headerPage .col-md-4:nth-child(2) {
    text-align: center; }
  header .headerPage .col-md-4:last-child {
    text-align: right !important; }
  header .headerPage .formSearch form input {
    padding: 10px 45px 10px 15px;
    border-radius: 30px;
    width: 90%;
    border: 1px solid #e7e7e7;
    color: #232323;
    font-size: 16px;
    font-weight: 400;
    height: 44px;
    outline: none;
    text-transform: capitalize;
    text-decoration: none; }
  header .headerPage .formSearch form button {
    border: none;
    background-color: #ff6799;
    color: #ffffff;
    font-size: 15px;
    padding: 10px;
    border-radius: 50%;
    margin-left: -46px;
    height: 40px;
    width: 40px; }
  header .headerPage .onlinePage {
    display: flex;
    justify-content: end; }
    header .headerPage .onlinePage .emailPage {
      margin-right: 20px; }
      header .headerPage .onlinePage .emailPage a {
        display: flex;
        outline: none;
        text-decoration: none;
        align-items: center; }
        header .headerPage .onlinePage .emailPage a:hover .icon {
          background-color: #4acdd5; }
        header .headerPage .onlinePage .emailPage a .icon {
          font-size: 14px;
          color: #ffffff;
          background-color: #ff6799;
          border-radius: 50%;
          margin-right: 10px;
          transition: background-color ease-in-out .5s; }
          header .headerPage .onlinePage .emailPage a .icon i {
            padding: 10px;
            font-weight: 600; }
        header .headerPage .onlinePage .emailPage a .name {
          text-align: left !important; }
          header .headerPage .onlinePage .emailPage a .name h5 {
            font-size: 18px;
            color: #232323;
            font-weight: 600;
            margin-bottom: 5px; }
          header .headerPage .onlinePage .emailPage a .name p {
            font-size: 14px;
            color: #666; }
    header .headerPage .onlinePage .cartPage {
      display: flex;
      cursor: pointer; }
      header .headerPage .onlinePage .cartPage:hover .icon {
        background-color: #4acdd5; }
      header .headerPage .onlinePage .cartPage .icon {
        font-size: 14px;
        color: #ffffff;
        transition: background-color ease-in-out .5s;
        background-color: #ff6799;
        border-radius: 50%;
        margin-right: 10px; }
        header .headerPage .onlinePage .cartPage .icon i {
          padding: 10px;
          font-weight: 600; }
      header .headerPage .onlinePage .cartPage .name {
        text-align: left !important; }
        header .headerPage .onlinePage .cartPage .name h5 {
          font-size: 18px;
          color: #232323;
          font-weight: 600;
          margin-bottom: 5px; }
        header .headerPage .onlinePage .cartPage .name p {
          font-size: 14px;
          color: #666; }

nav {
  position: relative;
  z-index: 9999; }
  nav .nav .navPage {
    display: flex;
    background-color: #4acdd5;
    padding: 0px 5px;
    border-radius: 30px; }
    nav .nav .navPage .menu {
      width: 75%; }
      nav .nav .navPage .menu ul li {
        float: left;
        margin-right: 10px;
        position: relative; }
        nav .nav .navPage .menu ul li:hover .menuChild {
          visibility: visible;
          transform: translateY(0px) !important;
          opacity: 1; }
        nav .nav .navPage .menu ul li a {
          outline: none;
          display: block;
          color: #ffffff;
          font-size: 18px;
          padding: 15px;
          text-decoration: none;
          transition: color ease-in-out .3s; }
          nav .nav .navPage .menu ul li a:hover {
            color: #232323; }
        nav .nav .navPage .menu ul li .menuChild {
          position: absolute;
          padding: 10px 0px;
          transition: all ease-in-out 0.5s;
          opacity: 0;
          overflow: hidden;
          width: 800px;
          box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 2px 4px 1px rgba(0, 0, 0, 0.18);
          border: 0;
          background-color: #ffffff;
          transform: translateY(15%);
          visibility: hidden; }
          nav .nav .navPage .menu ul li .menuChild .ulChild {
            margin-bottom: 20px;
            display: flex; }
            nav .nav .navPage .menu ul li .menuChild .ulChild li {
              width: 200px; }
              nav .nav .navPage .menu ul li .menuChild .ulChild li a {
                font-size: 18px;
                font-weight: 600;
                display: block;
                margin-bottom: 10px;
                padding: 15px;
                color: #232323;
                position: relative; }
                nav .nav .navPage .menu ul li .menuChild .ulChild li a::after {
                  position: absolute;
                  content: "";
                  height: 0.2px;
                  width: 50%;
                  background-color: #ddd;
                  bottom: 0px;
                  left: 15px; }
              nav .nav .navPage .menu ul li .menuChild .ulChild li .product {
                display: flex; }
                nav .nav .navPage .menu ul li .menuChild .ulChild li .product .menuProduct li {
                  width: 100%;
                  margin-right: 0px !important; }
                  nav .nav .navPage .menu ul li .menuChild .ulChild li .product .menuProduct li a {
                    color: #666;
                    font-size: 15px !important;
                    margin-bottom: 0px !important;
                    padding: 10px 15px !important;
                    font-weight: 600;
                    transition: color ease-in-out 0.3s; }
                    nav .nav .navPage .menu ul li .menuChild .ulChild li .product .menuProduct li a:hover {
                      color: #232323; }
                    nav .nav .navPage .menu ul li .menuChild .ulChild li .product .menuProduct li a::after {
                      display: none; }
                  nav .nav .navPage .menu ul li .menuChild .ulChild li .product .menuProduct li:nth-child(5) {
                    display: block; }
                nav .nav .navPage .menu ul li .menuChild .ulChild li .product .item-product {
                  padding: 0px 15px; }
                  nav .nav .navPage .menu ul li .menuChild .ulChild li .product .item-product .imageProduct {
                    border: 1px solid #ddd;
                    margin-bottom: 10px; }
                    nav .nav .navPage .menu ul li .menuChild .ulChild li .product .item-product .imageProduct img {
                      width: 100%; }
                  nav .nav .navPage .menu ul li .menuChild .ulChild li .product .item-product .namepriceProduct a {
                    font-size: 15px;
                    font-weight: 600;
                    padding: 0px !important;
                    margin-bottom: 10px !important; }
                    nav .nav .navPage .menu ul li .menuChild .ulChild li .product .item-product .namepriceProduct a::after {
                      display: none; }
                  nav .nav .navPage .menu ul li .menuChild .ulChild li .product .item-product .namepriceProduct p {
                    font-weight: 600;
                    color: #ff6799; }
                    nav .nav .navPage .menu ul li .menuChild .ulChild li .product .item-product .namepriceProduct p del {
                      color: #232323; }
          nav .nav .navPage .menu ul li .menuChild .contentChild {
            display: flex; }
            nav .nav .navPage .menu ul li .menuChild .contentChild .contentChild_1 a, nav .nav .navPage .menu ul li .menuChild .contentChild .contentChild_2 a {
              margin-bottom: 0px !important;
              padding: 0px 15px !important; }
              nav .nav .navPage .menu ul li .menuChild .contentChild .contentChild_1 a img, nav .nav .navPage .menu ul li .menuChild .contentChild .contentChild_2 a img {
                width: 100%; }
        nav .nav .navPage .menu ul li:nth-child(3) span {
          position: absolute;
          top: 4px;
          font-size: 7px;
          background-color: #666;
          padding: 2px 4px;
          border-radius: 2px;
          color: #ffffff;
          right: 9px;
          text-align: center;
          font-weight: 600; }
          nav .nav .navPage .menu ul li:nth-child(3) span::before {
            position: absolute;
            content: "";
            border-bottom: 0.2rem solid transparent;
            bottom: -3px;
            border-left: 0.4rem solid #666;
            left: 0px; }
        nav .nav .navPage .menu ul li:nth-child(3) .menuChild {
          width: 600px !important; }
        nav .nav .navPage .menu ul li:nth-child(4) span {
          position: absolute;
          top: 4px;
          font-size: 7px;
          background-color: #7fbc1e;
          padding: 2px 4px;
          font-weight: 600;
          border-radius: 2px;
          color: #ffffff;
          right: 9px;
          text-align: center; }
          nav .nav .navPage .menu ul li:nth-child(4) span::before {
            position: absolute;
            content: "";
            border-bottom: 0.2rem solid transparent;
            bottom: -3px;
            border-left: 0.4rem solid #7fbc1e;
            left: 0px; }
        nav .nav .navPage .menu ul li:nth-child(4) .menuChild {
          width: 400px !important; }
        nav .nav .navPage .menu ul li:nth-child(5) .menuChild {
          width: 200px !important; }
        nav .nav .navPage .menu ul li:nth-child(6) span {
          position: absolute;
          top: 4px;
          font-size: 7px;
          font-weight: 600;
          background-color: red;
          padding: 2px 4px;
          border-radius: 2px;
          color: #ffffff;
          right: 9px;
          text-align: center; }
          nav .nav .navPage .menu ul li:nth-child(6) span::before {
            position: absolute;
            content: "";
            border-bottom: 0.2rem solid transparent;
            bottom: -3px;
            border-left: 0.4rem solid red;
            left: 0px; }
    nav .nav .navPage .account {
      width: 35%; }
      nav .nav .navPage .account ul {
        display: flex;
        justify-content: end; }
        nav .nav .navPage .account ul li {
          float: left;
          margin-right: 10px;
          position: relative; }
          nav .nav .navPage .account ul li a {
            outline: none;
            padding: 15px;
            color: #ffffff;
            font-size: 18px;
            display: block;
            transition: color ease-in-out .3s;
            text-decoration: none; }
            nav .nav .navPage .account ul li a:hover {
              color: #232323; }
          nav .nav .navPage .account ul li::after {
            position: absolute;
            content: "";
            right: -5px;
            top: 15px;
            height: 16px;
            width: 0.5px;
            background-color: #ffffff; }
          nav .nav .navPage .account ul li:last-child::after {
            display: none; }

.navAnimation {
  background-color: #4acdd5 !important;
  animation: fadeNav .7s;
  position: fixed;
  top: 0px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
  border: 0;
  left: 0px;
  right: 0px; }

@keyframes fadeNav {
  0% {
    transform: translateY(-100%); }
  100% {
    transform: translateY(0px); } }
.slidePage {
  margin-top: -25px;
  position: relative;
  overflow: hidden;
  width: 100%;
  z-index: 1; }
  .slidePage:hover .buttonSlide_prev, .slidePage:hover .buttonSlide_next {
    visibility: visible;
    opacity: 1;
    transform: translateX(0px); }
  .slidePage .slide {
    display: flex;
    transition: all linear 0.4s; }
    .slidePage .slide .slideChild {
      position: relative;
      flex: 1 0 100%; }
      .slidePage .slide .slideChild img {
        height: 100%;
        width: 100%; }
      .slidePage .slide .slideChild .textSilde {
        position: absolute;
        top: 35%;
        right: 0px;
        left: 57%; }
        .slidePage .slide .slideChild .textSilde .textTop {
          display: inline-block;
          padding: 10px 30px;
          background-color: #ff6799;
          border-radius: 5px;
          margin-bottom: 20px;
          animation: fadeDown both 1.5s .7s; }
          .slidePage .slide .slideChild .textSilde .textTop h3 {
            font-size: 20px;
            color: #ffffff;
            font-weight: 600; }
        .slidePage .slide .slideChild .textSilde .textBody {
          margin-bottom: 20px;
          width: 85%; }
          .slidePage .slide .slideChild .textSilde .textBody h1 {
            font-size: 75px;
            font-weight: 900;
            color: #232323;
            margin-bottom: 20px;
            animation: fadeDown both 1.5s .6s; }
          .slidePage .slide .slideChild .textSilde .textBody p {
            color: #666;
            font-size: 18px;
            font-weight: 400;
            line-height: 1.5em;
            animation: fadeDown both 1.5s .5s; }
        .slidePage .slide .slideChild .textSilde .textLink {
          display: inline-block;
          border-radius: 30px;
          background-color: #4acdd5;
          transition: all ease-in-out 0.3s;
          animation: fadeDown both 1.5s .4s; }
          .slidePage .slide .slideChild .textSilde .textLink:hover {
            background-color: #ff6799; }
          .slidePage .slide .slideChild .textSilde .textLink a {
            padding: 15px 20px;
            font-size: 15px;
            display: block;
            outline: none;
            text-decoration: none;
            color: #ffffffff; }
    .slidePage .slide .slideChild:nth-child(2) .textSilde {
      position: absolute;
      top: 35%;
      right: 50%;
      left: 5%;
      display: none; }
  .slidePage .buttonSlide_prev, .slidePage .buttonSlide_next {
    position: absolute;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    visibility: hidden;
    opacity: 0;
    background-color: #4acdd5;
    text-align: center;
    transition: all ease-in-out 0.5s; }
    .slidePage .buttonSlide_prev:hover, .slidePage .buttonSlide_next:hover {
      background-color: #ff6799; }
    .slidePage .buttonSlide_prev i, .slidePage .buttonSlide_next i {
      font-size: 18px;
      color: #ffffff; }
  .slidePage .buttonSlide_next {
    top: 50%;
    right: 10px;
    transform: translateX(-30px); }
  .slidePage .buttonSlide_prev {
    top: 50%;
    left: 10px;
    transform: translateX(30px); }

@keyframes fadeDown {
  0% {
    opacity: 0;
    transform: translateY(-30px); }
  100% {
    opacity: 1;
    transform: translateY(0px); } }
.textSildeBlock {
  display: block !important; }

.textSildeNone {
  display: none !important; }

.categoryPage {
  margin-top: -82px;
  position: relative;
  z-index: 2;
  margin-bottom: 20px; }
  .categoryPage .col-md-2 {
    text-align: center; }
  .categoryPage .category {
    box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12);
    border: 1px;
    padding: 1.5rem 3rem;
    background: #ffffff;
    border-radius: 100px; }
    .categoryPage .category .categoryChild:hover .textCategory {
      visibility: hidden !important;
      opacity: 0 !important;
      transform: translateY(-40px) !important; }
    .categoryPage .category .categoryChild:hover .btnCategory {
      visibility: visible !important;
      opacity: 1 !important;
      transform: translateY(-15px) !important; }
    .categoryPage .category .categoryChild a {
      outline: none;
      color: #232323;
      text-decoration: none; }
      .categoryPage .category .categoryChild a .nameCategory {
        position: relative;
        margin-top: 10px;
        padding-top: 15px;
        overflow: hidden; }
        .categoryPage .category .categoryChild a .nameCategory::before {
          position: absolute;
          content: "";
          width: 70%;
          left: 30px;
          right: 0px;
          top: 0px;
          border-bottom: 2px dashed #4acdd5; }
        .categoryPage .category .categoryChild a .nameCategory .textCategory {
          font-weight: bolder;
          visibility: visible;
          transform: translateY(0px);
          transition: all linear .3s;
          opacity: 1; }
        .categoryPage .category .categoryChild a .nameCategory .btnCategory {
          display: inline-block;
          border-bottom: 1px solid #666;
          text-transform: uppercase;
          visibility: hidden;
          transition: all linear .3s;
          font-size: 15px;
          font-weight: 600;
          opacity: 0;
          transform: translateY(40px); }

.productPage {
  padding: 10rem 0px 4rem;
  margin-top: -102px;
  background-color: #f6f7f8; }
  .productPage .textProduct {
    text-align: center;
    margin-bottom: 30px; }
    .productPage .textProduct h1 {
      position: relative;
      display: inline-block;
      font-size: 40px;
      font-weight: bolder; }
      .productPage .textProduct h1::after {
        position: absolute;
        content: "";
        border-radius: 50%;
        width: 7px;
        height: 7px;
        right: -10px;
        bottom: 7px;
        background-color: #ff6799; }
  .productPage .menu-itemProduct {
    margin-bottom: 45px; }
    .productPage .menu-itemProduct .menuProduct {
      margin-bottom: 30px; }
      .productPage .menu-itemProduct .menuProduct ul {
        display: flex;
        align-items: center;
        justify-content: center; }
        .productPage .menu-itemProduct .menuProduct ul li {
          border-radius: 30px;
          margin-right: 15px;
          background-color: #ffffff;
          box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12);
          border: 1px; }
          .productPage .menu-itemProduct .menuProduct ul li a {
            outline: none;
            text-decoration: none;
            padding: 15px 25px;
            font-size: 18px;
            display: block;
            color: #232323; }
          .productPage .menu-itemProduct .menuProduct ul li:last-child {
            margin-right: 0px !important; }
        .productPage .menu-itemProduct .menuProduct ul .active {
          background: #ff6799; }
          .productPage .menu-itemProduct .menuProduct ul .active a {
            color: #ffffff; }
    .productPage .menu-itemProduct .itemProduct .cardItem {
      box-shadow: 0 0 0 0.75pt #d1d1d1, 0 0 3pt 0.75pt #ccc;
      border: 0;
      text-align: center;
      position: relative;
      border-radius: 20px;
      overflow: hidden;
      padding: 10px;
      background-color: #ffffff;
      margin-bottom: 30px; }
      .productPage .menu-itemProduct .itemProduct .cardItem:hover .imgItem .imgItem1 {
        opacity: 0 !important; }
      .productPage .menu-itemProduct .itemProduct .cardItem:hover .imgItem .imgItem2 {
        opacity: 1 !important; }
      .productPage .menu-itemProduct .itemProduct .cardItem:hover .imgItem .eye, .productPage .menu-itemProduct .itemProduct .cardItem:hover .imgItem .heart {
        transform: translateX(0px); }
      .productPage .menu-itemProduct .itemProduct .cardItem:hover .imgItem .soldOut {
        transform: translateX(45px);
        opacity: 0;
        visibility: hidden; }
      .productPage .menu-itemProduct .itemProduct .cardItem:hover .cartItem {
        visibility: visible;
        opacity: 1;
        transform: translateY(-30px); }
      .productPage .menu-itemProduct .itemProduct .cardItem .imgItem {
        position: relative; }
        .productPage .menu-itemProduct .itemProduct .cardItem .imgItem .sale {
          position: absolute;
          top: 0px;
          left: 0px;
          font-size: 10px;
          background: #7fbc1e;
          color: #ffffff;
          border-radius: 50%;
          height: 40px;
          width: 40px;
          display: flex;
          align-items: center;
          justify-content: center; }
        .productPage .menu-itemProduct .itemProduct .cardItem .imgItem .soldOut {
          position: absolute;
          top: 0px;
          right: 0px;
          font-size: 10px;
          background: #c92c2c;
          transition: all ease-in-out 0.25s;
          opacity: 1;
          visibility: visible;
          color: #ffffff;
          border-radius: 5px;
          padding: 5px;
          display: flex;
          align-items: center;
          justify-content: center; }
        .productPage .menu-itemProduct .itemProduct .cardItem .imgItem .eye, .productPage .menu-itemProduct .itemProduct .cardItem .imgItem .heart {
          position: absolute;
          top: 0px;
          right: 0px;
          font-size: 15px;
          background: #ff6799;
          color: #ffffff;
          border-radius: 50%;
          height: 35px;
          width: 35px;
          display: flex;
          cursor: pointer;
          align-items: center;
          justify-content: center; }
          .productPage .menu-itemProduct .itemProduct .cardItem .imgItem .eye:hover, .productPage .menu-itemProduct .itemProduct .cardItem .imgItem .heart:hover {
            background-color: #4acdd5; }
        .productPage .menu-itemProduct .itemProduct .cardItem .imgItem .heart {
          transition: all ease-in-out .35s;
          top: 45px;
          transform: translateX(60px); }
        .productPage .menu-itemProduct .itemProduct .cardItem .imgItem .eye {
          transition: all ease-in-out .25s;
          transform: translateX(50px); }
        .productPage .menu-itemProduct .itemProduct .cardItem .imgItem a {
          display: block;
          padding-top: 100%;
          border-bottom: 1px solid #ddd;
          margin: 0px 20px; }
          .productPage .menu-itemProduct .itemProduct .cardItem .imgItem a img {
            width: 100%; }
          .productPage .menu-itemProduct .itemProduct .cardItem .imgItem a .imgItem1, .productPage .menu-itemProduct .itemProduct .cardItem .imgItem a .imgItem2 {
            position: absolute;
            top: 0px;
            left: 0px;
            right: 0px;
            bottom: 0px;
            opacity: 1;
            transition: all linear .3s; }
          .productPage .menu-itemProduct .itemProduct .cardItem .imgItem a .imgItem2 {
            opacity: 0; }
      .productPage .menu-itemProduct .itemProduct .cardItem .starItem {
        position: absolute;
        bottom: 100px;
        left: 0px;
        right: 0px; }
        .productPage .menu-itemProduct .itemProduct .cardItem .starItem i {
          font-size: 13px;
          color: #ddd; }
      .productPage .menu-itemProduct .itemProduct .cardItem .name-priceItem {
        margin-top: 15px; }
        .productPage .menu-itemProduct .itemProduct .cardItem .name-priceItem a {
          outline: none;
          font-weight: 700;
          text-decoration: none; }
          .productPage .menu-itemProduct .itemProduct .cardItem .name-priceItem a h1 {
            font-size: 20px;
            color: black;
            margin-bottom: 15px; }
          .productPage .menu-itemProduct .itemProduct .cardItem .name-priceItem a p {
            color: #ff6799; }
            .productPage .menu-itemProduct .itemProduct .cardItem .name-priceItem a p del {
              color: #232323; }
      .productPage .menu-itemProduct .itemProduct .cardItem .cartItem {
        position: absolute;
        left: 0px;
        right: 0px;
        visibility: hidden;
        transition: all linear .3s;
        opacity: 0;
        transform: translateY(20px); }
        .productPage .menu-itemProduct .itemProduct .cardItem .cartItem a {
          padding: 10px 20px;
          outline: none;
          display: inline-block;
          background: #4acdd5;
          border-radius: 30px;
          text-decoration: none;
          color: #ffffff;
          text-transform: uppercase;
          transition: all ease-in-out 0.3s; }
          .productPage .menu-itemProduct .itemProduct .cardItem .cartItem a:hover {
            background-color: #ff6799; }
    .productPage .menu-itemProduct .itemProduct .cardItem:nth-child(2), .productPage .menu-itemProduct .itemProduct .cardItem:nth-child(4), .productPage .menu-itemProduct .itemProduct .cardItem:nth-child(6), .productPage .menu-itemProduct .itemProduct .cardItem:nth-child(8) {
      margin-bottom: 0px !important; }
  .productPage .buttonView {
    text-align: center; }
    .productPage .buttonView button {
      padding: 10px 15px;
      color: #ffffff;
      background-color: #4acdd5;
      border: none;
      border-radius: 30px;
      transition: all linear .3s; }
      .productPage .buttonView button:hover {
        background-color: #ff6799; }

@keyframes borderBoxShadow {
  0% {
    transform: scale(1); }
  100% {
    transform: scale(1.3); } }
@keyframes roateH1 {
  0% {
    transform: rotateX(0deg); }
  100% {
    transform: rotateX(360deg); } }
.servicesPage {
  padding: 4rem 0px; }
  .servicesPage .textServices {
    text-align: center;
    margin-bottom: 30px; }
    .servicesPage .textServices h1 {
      position: relative;
      display: inline-block;
      font-size: 40px;
      font-weight: bolder; }
      .servicesPage .textServices h1::after {
        position: absolute;
        content: "";
        border-radius: 50%;
        width: 7px;
        height: 7px;
        right: -10px;
        bottom: 7px;
        background-color: #ff6799; }
  .servicesPage .freeServices a {
    outline: none;
    text-decoration: none;
    display: block;
    text-align: center; }
    .servicesPage .freeServices a:hover .icon::after {
      animation: 1.5s linear 0.25s normal none infinite running borderBoxShadow;
      opacity: 1 !important; }
    .servicesPage .freeServices a:hover .text h2 {
      color: #ff6799; }
    .servicesPage .freeServices a .icon {
      width: 70px;
      height: 70px;
      border: 1px solid #ff6799;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      position: relative;
      margin: auto;
      text-align: center;
      transition: all .3s ease-in-out; }
      .servicesPage .freeServices a .icon::after {
        border-radius: 50%;
        box-shadow: 1px 0px 10px 6px #ff6799;
        content: "";
        height: 100%;
        width: 100%;
        left: 0;
        top: 0;
        right: 0px;
        bottom: 0px;
        position: absolute;
        opacity: 0;
        z-index: -1; }
    .servicesPage .freeServices a .text {
      margin-top: 20px; }
      .servicesPage .freeServices a .text h2 {
        margin-bottom: 5px;
        font-size: 20px;
        font-weight: 700;
        color: black;
        transition: all ease-in-out 0.3s; }
      .servicesPage .freeServices a .text p {
        color: #666; }
  .servicesPage .cardServices {
    margin-top: 3rem; }
    .servicesPage .cardServices .cardPage1, .servicesPage .cardServices .cardPage2 {
      position: relative;
      border-radius: 30px;
      overflow: hidden;
      height: 300px; }
      .servicesPage .cardServices .cardPage1 a, .servicesPage .cardServices .cardPage2 a {
        display: block;
        outline: none;
        position: relative;
        text-decoration: none; }
        .servicesPage .cardServices .cardPage1 a:hover img, .servicesPage .cardServices .cardPage2 a:hover img {
          transform: scale(1.1); }
        .servicesPage .cardServices .cardPage1 a:hover .textCard h1, .servicesPage .cardServices .cardPage2 a:hover .textCard h1 {
          animation: roateH1 1s; }
        .servicesPage .cardServices .cardPage1 a img, .servicesPage .cardServices .cardPage2 a img {
          transition: all linear 0.3s;
          height: 100%;
          width: 100%; }
        .servicesPage .cardServices .cardPage1 a .textCard, .servicesPage .cardServices .cardPage2 a .textCard {
          position: absolute;
          top: 25%;
          text-align: center; }
          .servicesPage .cardServices .cardPage1 a .textCard h1, .servicesPage .cardServices .cardPage2 a .textCard h1 {
            font-size: 45px;
            font-weight: 800;
            text-shadow: 0 2px #232323;
            color: #ffffff;
            margin-bottom: 15px; }
          .servicesPage .cardServices .cardPage1 a .textCard p, .servicesPage .cardServices .cardPage2 a .textCard p {
            color: #ddd;
            padding: 10px 20px;
            background-color: #666;
            border-radius: 5px;
            font-size: 14px;
            margin-bottom: 25px; }
          .servicesPage .cardServices .cardPage1 a .textCard span, .servicesPage .cardServices .cardPage2 a .textCard span {
            padding: 10px 20px;
            color: #ffffff;
            background-color: #ff5146;
            border-radius: 30px;
            font-size: 12px; }
    .servicesPage .cardServices .cardPage2 .textCard {
      position: absolute;
      top: 25%;
      text-align: center;
      left: 50px !important; }
    .servicesPage .cardServices .cardPage1 .textCard {
      right: 50px; }

.specialTeddyPage {
  padding: 4rem 0px;
  background-image: url(../../images/homePage/bg.png);
  background-attachment: fixed;
  background-position: center;
  height: 450px;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: end; }
  .specialTeddyPage .specialTeddy {
    position: absolute;
    left: 60%;
    top: 30%; }
    .specialTeddyPage .specialTeddy .textWelcome h1 {
      display: inline-block;
      padding: 10px 30px;
      background-color: #ff6799;
      border-radius: 5px;
      font-size: 20px;
      color: #ffffff;
      margin: 0px !important;
      font-weight: 600; }
    .specialTeddyPage .specialTeddy h1 {
      margin-top: 35px;
      margin-bottom: 45px;
      font-size: 50px;
      font-weight: 900;
      color: #081823; }
    .specialTeddyPage .specialTeddy .linkView {
      display: inline-block; }
      .specialTeddyPage .specialTeddy .linkView a {
        padding: 10px 20px;
        background-color: #4acdd5;
        outline: none;
        text-decoration: none;
        color: #ffffff;
        display: block;
        border-radius: 30px;
        transition: all ease-in-out 0.3s; }
        .specialTeddyPage .specialTeddy .linkView a:hover {
          background-color: #ff6799; }

.thedayPage {
  padding: 4rem 0px; }
  .thedayPage .textTheDay {
    text-align: center;
    margin-bottom: 30px; }
    .thedayPage .textTheDay h1 {
      position: relative;
      display: inline-block;
      font-size: 40px;
      font-weight: bolder; }
      .thedayPage .textTheDay h1::after {
        position: absolute;
        content: "";
        border-radius: 50%;
        width: 7px;
        height: 7px;
        right: -10px;
        bottom: 7px;
        background-color: #ff6799; }
  .thedayPage .productTheDay {
    overflow: hidden;
    width: 100%;
    position: relative; }
    .thedayPage .productTheDay .row {
      flex-wrap: nowrap;
      transition: all 0.5s linear; }
    .thedayPage .productTheDay .itemTheDay {
      display: flex;
      padding: 10px;
      background-color: #ddd;
      border-radius: 20px;
      align-items: center;
      justify-content: center; }
      .thedayPage .productTheDay .itemTheDay:hover .imgItemTheDay .imgItemTheDay1 {
        opacity: 0 !important; }
      .thedayPage .productTheDay .itemTheDay:hover .imgItemTheDay .imgItemTheDay2 {
        opacity: 1 !important; }
      .thedayPage .productTheDay .itemTheDay:hover .imgItemTheDay .eye, .thedayPage .productTheDay .itemTheDay:hover .imgItemTheDay .heart {
        transform: translateX(0px); }
      .thedayPage .productTheDay .itemTheDay:hover .imgItemTheDay .soldOut {
        transform: translateX(45px);
        opacity: 0;
        visibility: hidden; }
      .thedayPage .productTheDay .itemTheDay .imgItemTheDay {
        position: relative;
        border-radius: 10px;
        overflow: hidden;
        width: 50%;
        margin-right: 15px; }
        .thedayPage .productTheDay .itemTheDay .imgItemTheDay .sale {
          position: absolute;
          top: 5px;
          left: 5px;
          font-size: 10px;
          background: #7fbc1e;
          color: #ffffff;
          border-radius: 50%;
          height: 40px;
          width: 40px;
          display: flex;
          align-items: center;
          justify-content: center; }
        .thedayPage .productTheDay .itemTheDay .imgItemTheDay .soldOut {
          position: absolute;
          top: 5px;
          right: 5px;
          font-size: 10px;
          background: #c92c2c;
          transition: all ease-in-out 0.25s;
          opacity: 1;
          visibility: visible;
          color: #ffffff;
          border-radius: 5px;
          padding: 5px;
          display: flex;
          align-items: center;
          justify-content: center; }
        .thedayPage .productTheDay .itemTheDay .imgItemTheDay .eye, .thedayPage .productTheDay .itemTheDay .imgItemTheDay .heart {
          position: absolute;
          top: 5px;
          right: 5px;
          font-size: 15px;
          background: #ff6799;
          color: #ffffff;
          border-radius: 50%;
          height: 35px;
          width: 35px;
          display: flex;
          cursor: pointer;
          align-items: center;
          justify-content: center; }
          .thedayPage .productTheDay .itemTheDay .imgItemTheDay .eye:hover, .thedayPage .productTheDay .itemTheDay .imgItemTheDay .heart:hover {
            background-color: #4acdd5; }
        .thedayPage .productTheDay .itemTheDay .imgItemTheDay .starItem {
          position: absolute;
          bottom: 15px;
          left: 0px;
          right: 0px;
          text-align: center; }
          .thedayPage .productTheDay .itemTheDay .imgItemTheDay .starItem i {
            font-size: 13px;
            color: #ddd; }
        .thedayPage .productTheDay .itemTheDay .imgItemTheDay .heart {
          transition: all ease-in-out .35s;
          top: 45px;
          transform: translateX(60px); }
        .thedayPage .productTheDay .itemTheDay .imgItemTheDay .eye {
          transition: all ease-in-out .25s;
          transform: translateX(50px); }
        .thedayPage .productTheDay .itemTheDay .imgItemTheDay a {
          display: block;
          padding-top: 100%;
          outline: none;
          position: relative;
          text-decoration: none; }
          .thedayPage .productTheDay .itemTheDay .imgItemTheDay a .imgItemTheDay1, .thedayPage .productTheDay .itemTheDay .imgItemTheDay a .imgItemTheDay2 {
            position: absolute;
            left: 0px;
            right: 0px;
            top: 0px;
            transition: all ease-in-out 0.3s;
            bottom: 0px; }
            .thedayPage .productTheDay .itemTheDay .imgItemTheDay a .imgItemTheDay1 img, .thedayPage .productTheDay .itemTheDay .imgItemTheDay a .imgItemTheDay2 img {
              width: 100%;
              height: 100%; }
          .thedayPage .productTheDay .itemTheDay .imgItemTheDay a .imgItemTheDay1 {
            opacity: 1; }
          .thedayPage .productTheDay .itemTheDay .imgItemTheDay a .imgItemTheDay2 {
            opacity: 0; }
      .thedayPage .productTheDay .itemTheDay .contentItemTheDay {
        width: 50%; }
        .thedayPage .productTheDay .itemTheDay .contentItemTheDay .textItemTheDay h1 {
          font-size: 20px;
          color: #081823;
          font-weight: bolder;
          margin-bottom: 10px; }
        .thedayPage .productTheDay .itemTheDay .contentItemTheDay .textItemTheDay span {
          color: #ff6799;
          font-weight: bolder; }
        .thedayPage .productTheDay .itemTheDay .contentItemTheDay .textItemTheDay p {
          margin-top: 10px;
          line-height: 1.2em;
          color: #666; }
        .thedayPage .productTheDay .itemTheDay .contentItemTheDay .timeItemTheDay {
          margin-top: 15px;
          display: flex;
          align-items: center;
          justify-content: center; }
          .thedayPage .productTheDay .itemTheDay .contentItemTheDay .timeItemTheDay .day, .thedayPage .productTheDay .itemTheDay .contentItemTheDay .timeItemTheDay .hours, .thedayPage .productTheDay .itemTheDay .contentItemTheDay .timeItemTheDay .mins, .thedayPage .productTheDay .itemTheDay .contentItemTheDay .timeItemTheDay .secs {
            margin-right: 10px;
            text-align: center; }
            .thedayPage .productTheDay .itemTheDay .contentItemTheDay .timeItemTheDay .day .time, .thedayPage .productTheDay .itemTheDay .contentItemTheDay .timeItemTheDay .hours .time, .thedayPage .productTheDay .itemTheDay .contentItemTheDay .timeItemTheDay .mins .time, .thedayPage .productTheDay .itemTheDay .contentItemTheDay .timeItemTheDay .secs .time {
              width: 50px;
              height: 50px;
              border-radius: 50%;
              display: flex;
              align-items: center;
              justify-content: center;
              overflow: hidden;
              background-color: #fff;
              margin-bottom: 5px; }
              .thedayPage .productTheDay .itemTheDay .contentItemTheDay .timeItemTheDay .day .time p, .thedayPage .productTheDay .itemTheDay .contentItemTheDay .timeItemTheDay .hours .time p, .thedayPage .productTheDay .itemTheDay .contentItemTheDay .timeItemTheDay .mins .time p, .thedayPage .productTheDay .itemTheDay .contentItemTheDay .timeItemTheDay .secs .time p {
                font-size: 18px;
                color: #081823; }
          .thedayPage .productTheDay .itemTheDay .contentItemTheDay .timeItemTheDay .secs {
            margin-right: 0px !important; }
        .thedayPage .productTheDay .itemTheDay .contentItemTheDay .buttonItemTheDay {
          margin-top: 15px;
          display: inline-block; }
          .thedayPage .productTheDay .itemTheDay .contentItemTheDay .buttonItemTheDay a {
            outline: none;
            text-decoration: none;
            padding: 10px 20px;
            color: #ffffff;
            border-radius: 30px;
            font-size: 15px;
            display: block;
            background-color: #4acdd5;
            transition: all ease-in-out 0.3s; }
            .thedayPage .productTheDay .itemTheDay .contentItemTheDay .buttonItemTheDay a:hover {
              background-color: #ff6799; }
    .thedayPage .productTheDay .buttonProductTheDay {
      margin-top: 25px;
      text-align: center; }
      .thedayPage .productTheDay .buttonProductTheDay .prev_ProductTheDay, .thedayPage .productTheDay .buttonProductTheDay .next_ProductTheDay {
        border: 1px solid #ddd;
        background-color: transparent;
        border-radius: 50px;
        height: 40px;
        width: 40px;
        transition: all ease-in-out 0.3s; }
        .thedayPage .productTheDay .buttonProductTheDay .prev_ProductTheDay:hover, .thedayPage .productTheDay .buttonProductTheDay .next_ProductTheDay:hover {
          background-color: #ff6799; }
          .thedayPage .productTheDay .buttonProductTheDay .prev_ProductTheDay:hover i, .thedayPage .productTheDay .buttonProductTheDay .next_ProductTheDay:hover i {
            color: #ffffff; }
        .thedayPage .productTheDay .buttonProductTheDay .prev_ProductTheDay i, .thedayPage .productTheDay .buttonProductTheDay .next_ProductTheDay i {
          color: #666; }
  .thedayPage .pageStore {
    margin-top: 3rem; }
    .thedayPage .pageStore .imgPageStore:hover img {
      transform: scale(0.8); }
    .thedayPage .pageStore .imgPageStore img {
      width: 100%;
      transition: all .3s; }
  .thedayPage .contentStore {
    margin-top: 3rem; }
    .thedayPage .contentStore .img-textContentStore {
      height: 260px;
      border-radius: 30px;
      overflow: hidden;
      position: relative; }
      .thedayPage .contentStore .img-textContentStore:hover img {
        transform: scale(1.1); }
      .thedayPage .contentStore .img-textContentStore:hover .textContentStore h1 {
        animation: roateH1 1s; }
      .thedayPage .contentStore .img-textContentStore img {
        transition: all linear 0.3s;
        width: 100%; }
      .thedayPage .contentStore .img-textContentStore .textContentStore {
        position: absolute;
        top: 25%;
        right: 200px;
        text-align: center; }
        .thedayPage .contentStore .img-textContentStore .textContentStore h1 {
          font-size: 45px;
          font-weight: 800;
          text-shadow: 0 2px #232323;
          color: #ffffff;
          margin-bottom: 15px; }
        .thedayPage .contentStore .img-textContentStore .textContentStore p {
          margin-bottom: 25px; }
          .thedayPage .contentStore .img-textContentStore .textContentStore p .saveupto {
            color: #ddd;
            padding: 10px 20px;
            background-color: #4acdd5;
            border-radius: 5px;
            font-size: 14px; }
        .thedayPage .contentStore .img-textContentStore .textContentStore span {
          padding: 10px 20px;
          color: #666;
          background-color: #ffda45;
          border-radius: 30px;
          font-size: 12px; }

.latestblogPage {
  padding: 3rem 0px; }
  .latestblogPage .textLatestBlog {
    text-align: center;
    margin-bottom: 30px; }
    .latestblogPage .textLatestBlog h1 {
      position: relative;
      display: inline-block;
      font-size: 40px;
      font-weight: bolder; }
      .latestblogPage .textLatestBlog h1::after {
        position: absolute;
        content: "";
        border-radius: 50%;
        width: 7px;
        height: 7px;
        right: -10px;
        bottom: 7px;
        background-color: #ff6799; }
  .latestblogPage .productLatestBlog {
    width: 100%;
    overflow: hidden;
    position: relative; }
    .latestblogPage .productLatestBlog .row {
      flex-wrap: nowrap;
      transition: all 0.5s linear; }
    .latestblogPage .productLatestBlog .itemProductLatestBlog {
      background-color: #f6f7f8;
      border: 10px solid #ffffff;
      box-shadow: 0 4px 6px 0 rgba(32, 33, 36, 0.28);
      border-radius: 20px;
      height: 320px;
      display: flex;
      align-items: center;
      justify-content: center;
      overflow: hidden; }
      .latestblogPage .productLatestBlog .itemProductLatestBlog:hover .imgProductLatestBlog a img {
        transform: scale(1.1); }
      .latestblogPage .productLatestBlog .itemProductLatestBlog .imgProductLatestBlog {
        margin-right: 15px; }
        .latestblogPage .productLatestBlog .itemProductLatestBlog .imgProductLatestBlog a {
          outline: none;
          overflow: hidden;
          display: block;
          text-decoration: none; }
          .latestblogPage .productLatestBlog .itemProductLatestBlog .imgProductLatestBlog a img {
            width: 100%;
            height: 100%;
            transition: all linear 0.3s; }
      .latestblogPage .productLatestBlog .itemProductLatestBlog .contentProductLatestBlog .textProductLatestBlog h1 {
        color: #4acdd5;
        font-size: 25px;
        font-weight: bolder;
        margin-bottom: 15px; }
      .latestblogPage .productLatestBlog .itemProductLatestBlog .contentProductLatestBlog .textProductLatestBlog span {
        color: black;
        font-weight: 700;
        font-size: 20px; }
      .latestblogPage .productLatestBlog .itemProductLatestBlog .contentProductLatestBlog .textProductLatestBlog .adminText {
        margin-top: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 15px; }
        .latestblogPage .productLatestBlog .itemProductLatestBlog .contentProductLatestBlog .textProductLatestBlog .adminText .people, .latestblogPage .productLatestBlog .itemProductLatestBlog .contentProductLatestBlog .textProductLatestBlog .adminText .comment {
          margin-right: 15px; }
          .latestblogPage .productLatestBlog .itemProductLatestBlog .contentProductLatestBlog .textProductLatestBlog .adminText .people span, .latestblogPage .productLatestBlog .itemProductLatestBlog .contentProductLatestBlog .textProductLatestBlog .adminText .people i, .latestblogPage .productLatestBlog .itemProductLatestBlog .contentProductLatestBlog .textProductLatestBlog .adminText .comment span, .latestblogPage .productLatestBlog .itemProductLatestBlog .contentProductLatestBlog .textProductLatestBlog .adminText .comment i {
            font-size: 15px;
            color: #ff6799; }
        .latestblogPage .productLatestBlog .itemProductLatestBlog .contentProductLatestBlog .textProductLatestBlog .adminText .comment {
          margin-right: 0px; }
      .latestblogPage .productLatestBlog .itemProductLatestBlog .contentProductLatestBlog .textProductLatestBlog p {
        line-height: 1.2em;
        font-size: 18px;
        color: #787878;
        margin-bottom: 15px; }
      .latestblogPage .productLatestBlog .itemProductLatestBlog .contentProductLatestBlog .textProductLatestBlog .buttonRead {
        display: inline-block; }
        .latestblogPage .productLatestBlog .itemProductLatestBlog .contentProductLatestBlog .textProductLatestBlog .buttonRead a {
          outline: none;
          text-decoration: none;
          display: block;
          background-color: #4acdd5;
          color: #ffffff;
          font-weight: 700;
          padding: 10px 20px;
          border-radius: 20px;
          transition: all linear .3s; }
          .latestblogPage .productLatestBlog .itemProductLatestBlog .contentProductLatestBlog .textProductLatestBlog .buttonRead a:hover {
            background-color: #ff6799; }
    .latestblogPage .productLatestBlog .buttonProductLatestBlog {
      margin-top: 25px;
      text-align: center; }
      .latestblogPage .productLatestBlog .buttonProductLatestBlog .prev_ProductLatestBlog, .latestblogPage .productLatestBlog .buttonProductLatestBlog .next_ProductLatestBlog {
        border: 1px solid #ddd;
        background-color: transparent;
        border-radius: 50px;
        height: 40px;
        width: 40px;
        transition: all ease-in-out 0.3s; }
        .latestblogPage .productLatestBlog .buttonProductLatestBlog .prev_ProductLatestBlog:hover, .latestblogPage .productLatestBlog .buttonProductLatestBlog .next_ProductLatestBlog:hover {
          background-color: #ff6799; }
          .latestblogPage .productLatestBlog .buttonProductLatestBlog .prev_ProductLatestBlog:hover i, .latestblogPage .productLatestBlog .buttonProductLatestBlog .next_ProductLatestBlog:hover i {
            color: #ffffff; }
        .latestblogPage .productLatestBlog .buttonProductLatestBlog .prev_ProductLatestBlog i, .latestblogPage .productLatestBlog .buttonProductLatestBlog .next_ProductLatestBlog i {
          color: #666; }

.mailingPage {
  padding: 3rem 0px;
  background-image: url(../../images/homePage/joinmail.png); }
  .mailingPage .textMailing {
    text-align: center;
    margin-bottom: 30px; }
    .mailingPage .textMailing h1 {
      position: relative;
      display: inline-block;
      font-size: 40px;
      font-weight: bolder; }
      .mailingPage .textMailing h1::after {
        position: absolute;
        content: "";
        border-radius: 50%;
        width: 7px;
        height: 7px;
        right: -10px;
        bottom: 7px;
        background-color: #ff6799; }
  .mailingPage .formMailing {
    text-align: center; }
    .mailingPage .formMailing form input {
      display: block;
      margin: auto;
      margin-bottom: 30px;
      width: 50%;
      background-color: #ffffff;
      padding: 15px 20px;
      border-radius: 30px;
      border: none;
      outline: none; }
      .mailingPage .formMailing form input:focus-visible {
        border: 1px solid #4acdd5; }
    .mailingPage .formMailing form button {
      border: none;
      background: #4acdd5;
      padding: 15px;
      color: #ffffff;
      transition: all linear .3s;
      border-radius: 30px; }
      .mailingPage .formMailing form button:hover {
        background-color: #ff6799; }

footer .footerPage {
  padding: 3rem 0px; }
  footer .footerPage .logoFooter {
    text-align: center; }
  footer .footerPage .contentFooter {
    margin-top: 2rem;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    text-align: center; }
    footer .footerPage .contentFooter p {
      font-size: 18px;
      line-height: 1.2em;
      color: #666666; }
  footer .footerPage .iconFooter {
    margin-top: 2rem; }
    footer .footerPage .iconFooter ul {
      display: flex;
      align-items: center;
      justify-content: center; }
      footer .footerPage .iconFooter ul li {
        margin-right: 15px;
        border-radius: 50%;
        transition: all linear .3s; }
        footer .footerPage .iconFooter ul li a {
          display: block;
          outline: none;
          color: #ffffff;
          text-decoration: none;
          height: 40px;
          width: 40px;
          display: flex;
          align-items: center;
          justify-content: center; }
          footer .footerPage .iconFooter ul li a i {
            font-size: 18px; }
        footer .footerPage .iconFooter ul li:hover {
          background-color: #4acdd5 !important; }
        footer .footerPage .iconFooter ul li:nth-child(1) {
          background-color: #3b5999; }
        footer .footerPage .iconFooter ul li:nth-child(2) {
          background-color: #cc2366; }
        footer .footerPage .iconFooter ul li:nth-child(3) {
          background-color: #00aced; }
        footer .footerPage .iconFooter ul li:last-child {
          margin-right: 0px !important; }

/*# sourceMappingURL=style.css.map */
