/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    font-family: 'Nunito', sans-serif;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

////////////////////////////////////////////////////////////////////////////////////////////

header {
    .headerPage {
        padding: 2rem 0px;
        .col-md-4:nth-child(2) {
            text-align: center;
        }
        .col-md-4:last-child {
            text-align: right !important;
        }
        .formSearch {
            form {
                input {
                    padding: 10px 45px 10px 15px;
                    border-radius: 30px;
                    width: 90%;
                    border: 1px solid #e7e7e7;
                    color: #232323;
                    font-size: 16px;
                    font-weight: 400;
                    height: 44px;
                    outline: none;
                    text-transform: capitalize;
                    text-decoration: none;
                }
                button {
                    border: none;
                    background-color: #ff6799;
                    color: #ffffff;
                    font-size: 15px;
                    padding: 10px;
                    border-radius: 50%;
                    margin-left: -46px;
                    height: 40px;
                    width: 40px;
                }
            }
        }
        .onlinePage {
            display: flex;
            justify-content: end;
            .emailPage {
                margin-right: 20px;
                a {
                    display: flex;
                    outline: none;
                    text-decoration: none;
                    align-items: center;
                    &:hover {
                        .icon {
                            background-color: #4acdd5;
                        }
                    }
                    .icon {
                        font-size: 14px;
                        color: #ffffff;
                        background-color: #ff6799;
                        border-radius: 50%;
                        margin-right: 10px;
                        transition: background-color ease-in-out .5s;
                        i {
                            padding: 10px;
                            font-weight: 600;
                        }
                    }
                    .name {
                        text-align: left !important;
                        h5 {
                            font-size: 18px;
                            color: #232323;
                            font-weight: 600;
                            margin-bottom: 5px;
                        }
                        p {
                            font-size: 14px;
                            color: #666; 
                        }
                    }
                }
            }
            .cartPage {
                display: flex;
                cursor: pointer;
                &:hover {
                    .icon {
                        background-color: #4acdd5;
                    }
                }
                .icon {
                    font-size: 14px;
                    color: #ffffff;
                    transition: background-color ease-in-out .5s;
                    background-color: #ff6799;
                    border-radius: 50%;
                    margin-right: 10px;
                    i {
                        padding: 10px;
                        font-weight: 600;
                    }
                }
                .name {
                    text-align: left !important;
                    h5 {
                        font-size: 18px;
                        color: #232323;
                        font-weight: 600;
                        margin-bottom: 5px;
                    }
                    p {
                        font-size: 14px;
                        color: #666; 
                    }
                }
            }
        }
    }
}

////////////////////////////////////////////////////////////////////////////////////////////

nav {
    position: relative;
    z-index: 9999;
    .nav {
        .navPage {
            display: flex;
            background-color: #4acdd5;
            padding: 0px 5px;
            border-radius: 30px;
            .menu{
                width: 75%;
                ul {
                    li {
                        float: left;
                        margin-right: 10px;
                        position: relative;
                        &:hover {
                            .menuChild {
                                visibility: visible;
                                transform: translateY(0px) !important;
                                opacity: 1;
                            }
                        }
                        a {
                            outline: none;
                            display: block;
                            color: #ffffff;
                            font-size: 18px;
                            padding: 15px;
                            text-decoration: none;
                            transition: color ease-in-out .3s;
                            &:hover {
                                color: #232323;
                            }
                        }
                        .menuChild {
                            position: absolute;
                            padding: 10px 0px;
                            transition: all ease-in-out 0.5s;
                            opacity: 0;
                            overflow: hidden;
                            width: 800px;
                            box-shadow:0 0 0 1px rgba(0,0,0,.1), 0 2px 4px 1px rgba(0,0,0,.18);border:0;
                            background-color: #ffffff;
                            transform: translateY(15%);
                            visibility: hidden;
                            .ulChild {
                                margin-bottom: 20px;
                                display: flex;
                                li {
                                    width: 200px;
                                    a {
                                        font-size: 18px;
                                        font-weight: 600;
                                        display: block;
                                        margin-bottom: 10px;
                                        padding: 15px;
                                        color: #232323;
                                        position: relative;
                                        &::after {
                                            position: absolute;
                                            content:"";
                                            height: 0.2px;
                                            width: 50%;
                                            background-color: #ddd;
                                            bottom: 0px;
                                            left: 15px;
                                        }
                                    }
                                    .product {
                                        display: flex;
                                        .menuProduct {
                                            li {
                                                width: 100%;
                                                margin-right: 0px !important;
                                                a {
                                                    color: #666;
                                                    font-size: 15px !important;
                                                    margin-bottom: 0px !important;
                                                    padding: 10px 15px !important;
                                                    font-weight: 600;
                                                    transition: color ease-in-out 0.3s;
                                                    &:hover {
                                                        color: #232323;
                                                    }
                                                    &::after {
                                                        display: none;
                                                    }
                                                }
                                                &:nth-child(5) {
                                                    display: block;
                                                }
                                            }
                                        }
                                        .item-product {
                                            padding: 0px 15px;
                                            .imageProduct {
                                                border: 1px solid #ddd;
                                                margin-bottom: 10px;
                                                img {
                                                    width: 100%;
                                                }
                                            }
                                            .namepriceProduct {
                                                a {
                                                    font-size: 15px;
                                                    font-weight: 600;
                                                    padding: 0px !important;
                                                    margin-bottom: 10px !important;
                                                    &::after {
                                                        display: none;
                                                    }
                                                }
                                                p {
                                                    font-weight: 600;
                                                    color: #ff6799;
                                                    del {
                                                        color: #232323;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                            .contentChild {
                                display: flex;
                                .contentChild_1,.contentChild_2 {
                                    a {
                                        margin-bottom: 0px !important;
                                        padding: 0px 15px !important;
                                        img {
                                            width: 100%;
                                        }
                                    }
                                }
                            }
                        }
                        &:nth-child(3) span {
                            position: absolute;
                            top: 4px;
                            font-size: 7px;
                            background-color: #666;
                            padding: 2px 4px;
                            border-radius: 2px;
                            color: #ffffff;
                            right: 9px;
                            text-align: center;
                            font-weight: 600;
                            &::before {
                                position: absolute;
                                content: "";
                                border-bottom: 0.2rem solid transparent;
                                bottom: -3px;
                                border-left: 0.4rem solid #666;
                                left: 0px;
                            }
                        }
                        &:nth-child(3) .menuChild {
                            width: 600px !important;
                        }
                        &:nth-child(4) span {
                            position: absolute;
                            top: 4px;
                            font-size: 7px;
                            background-color: #7fbc1e;
                            padding: 2px 4px;
                            font-weight: 600;
                            border-radius: 2px;
                            color: #ffffff;
                            right: 9px;
                            text-align: center;
                            &::before {
                                position: absolute;
                                content: "";
                                border-bottom: 0.2rem solid transparent;
                                bottom: -3px;
                                border-left: 0.4rem solid #7fbc1e;
                                left: 0px;
                            }
                        }
                        &:nth-child(4) .menuChild {
                            width: 400px !important;
                        }
                        &:nth-child(5) .menuChild {
                            width: 200px !important;
                        }
                        &:nth-child(6) span {
                            position: absolute;
                            top: 4px;
                            font-size: 7px;
                            font-weight: 600;
                            background-color: red;
                            padding: 2px 4px;
                            border-radius: 2px;
                            color: #ffffff;
                            right: 9px;
                            text-align: center;
                            &::before {
                                position: absolute;
                                content: "";
                                border-bottom: 0.2rem solid transparent;
                                bottom: -3px;
                                border-left: 0.4rem solid red;
                                left: 0px;
                            }
                        }
                    }
                }
            }
            .account {
                width: 35%;
                ul {
                    display: flex;
                    justify-content: end;
                    li {
                        float: left;
                        margin-right: 10px;
                        position: relative;
                        a {
                            outline: none;
                            padding: 15px;
                            color: #ffffff;
                            font-size: 18px;
                            display: block;
                            transition: color ease-in-out .3s;
                            text-decoration: none;
                            &:hover {
                                color: #232323;
                            }
                        }
                        &::after {
                            position: absolute;
                            content: "";
                            right: -5px;
                            top: 15px;
                            height: 16px;
                            width: 0.5px;
                            background-color: #ffffff;

                        }
                        &:last-child {
                            &::after {
                                display: none;
                            }
                        }
                    }
                }
            }
        }
    }
}

.navAnimation {
    background-color: #4acdd5 !important;
    animation: fadeNav .7s;
    position: fixed;
    top: 0px;
    box-shadow:0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);border:0;
    left: 0px;
    right: 0px;
}


@keyframes fadeNav {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0px);
    }
}

////////////////////////////////////////////////////////////////////////////////////////////

main {
    .mainPage {
        padding: 3rem 0px;
        .textMain {
            text-align: center;
            margin-bottom: 30px;
            h1 {
                position: relative;
                display: inline-block;
                font-size: 40px;
                font-weight: bolder;
                &::after {
                    position: absolute;
                    content: "";
                    border-radius: 50%;
                    width: 7px;
                    height: 7px;
                    right: -10px;
                    bottom: 7px;
                    background-color: #ff6799;
                }
            }
        }
        .productMain {
            .col-md-4 {
                margin-bottom: 20px;
            }
            .col-md-4:nth-child(4),.col-md-4:nth-child(5),.col-md-4:nth-child(6) {
                margin-bottom: 0px;
            }
            .cardProduct {
                box-shadow:0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);border:0;
                padding: 10px;
                a {
                    outline: none;
                    display: block;
                    text-decoration: none;
                    .imgProduct {
                        position: relative;
                        overflow: hidden;
                        padding-bottom: 80%;
                        img {
                            width: 100%;
                            width: 100%;
                            position: absolute;
                            left: 0;
                            top: -87px;
                        }
                    }
                    .contentProduct {
                        margin-top: 10px;
                        h1 {
                            margin-bottom: 10px;
                            font-size: 20px;
                            color: #232323;
                        }
                        .adminProduct {
                            display: flex;
                            margin-bottom: 10px;
                            color: #232323;
                            .day {
                                margin-right: 10px; 
                            }
                        }
                        .purport {
                            margin-bottom: 10px;
                            color: #232323;
                            line-height: 1.5em;
                            overflow: hidden;
                            height: 75px;
                        }
                    }
                    .readProduct {
                        color: #232323;
                        p {
                            display: inline-block;
                            position: relative;
                            padding-bottom: 5px;
                            &::after {
                                content: "";
                                width: 100%;
                                height: 1px;
                                background-color: #232323;
                                position: absolute;
                                bottom: 0px;
                                left: 0px;
                            }
                        }
                    }
                }
            }
        }
    }
}

////////////////////////////////////////////////////////////////////////////////////////////

footer {
    .footerPage {
        padding: 3rem 0px;
        .logoFooter {
            text-align: center;
        }
        .contentFooter {
            margin-top: 2rem;
            margin-left: auto;
            margin-right: auto;
            width: 50%;
            text-align: center;
            p {
                font-size: 18px;
                line-height: 1.2em;
                color: #666666;
            }
        }
        .iconFooter {
            margin-top: 2rem;
            ul {
                display: flex;
                align-items: center;
                justify-content: center;
                li {
                    margin-right: 15px;
                    border-radius: 50%;
                    transition: all linear .3s;
                    a {
                        display: block;
                        outline: none;
                        color: #ffffff;
                        text-decoration: none;
                        height: 40px;
                        width: 40px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        i {
                            font-size: 18px;
                        }
                    }
                    &:hover {
                        background-color: #4acdd5 !important;
                    }
                    &:nth-child(1) {
                        background-color: #3b5999;
                    }
                    &:nth-child(2) {
                        background-color: #cc2366;
                    }
                    &:nth-child(3) {
                        background-color: #00aced;
                    }
                    &:last-child {
                        margin-right: 0px !important;
                    }
                }
            }
        }
    }
}